* {
	box-sizing: border-box;
}

html,
body,
.svelte {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}
body {
	position: relative;
}

html {
	--bg-color: #395e66;
	--button-bg-color: #bc3908;
	--button-fg-color: white;
	--button-height: 40px;
	--button-selected: green;
}
